.nav-bar{
    background-color:#ffffff;
    height: 10vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* align-items: baseline; */
}

.nav-bar-inside{
    /* background-color:yellow; */
    min-width: 40em;
}

.nav-items{
    list-style: none;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}